**/*.dll
**/*.exe
common/*
external/*
distrib/*
build/*
bin-*/*
cmake-build-debug/*
.idea/*
**/screenshots/*
distrib/build_*/*
**/*.bak
**/*.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
